html{
    background-color: #333333;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#titleLogo, h1{
    color: white;
    margin: 8px 0;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

main, footer{
    text-align: center;
}

ul, li, nav {
   display: inline;
}

a{
    color: white;
    text-decoration: none;
    padding:  0 8px;
}

a:hover{
    color: #F17E0C;
    background: #444444;
}

button {
    border: none;
    padding: 0.8em 1.3em;
    font-size: medium;
    margin: 2em;
}

#section1{
    height: auto;
    padding: 140px 30px;
    background-image: url("https://images.unsplash.com/photo-1517824806704-9040b037703b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80");
    background-position: bottom;
    background-size: cover;
}

.section1-2 h1, 
.section1-2 p{
    margin-top: 2em;
    color: white;
}

.section1-2{
    padding: 9em 2em 9em 2em;
}

.section3-4-5 h1,
.section3-4-5 p{
    margin-bottom: 2em;
    color: black;
}

.section3-4-5{
    padding: 9em 2em 9em 2em;
}

.txtOrange {
    color: orange;
}

.txtWhite {
    color: white;
}

.backOrange {
    background-color: orange;
    color: #333333;
}

.backWhite {
    background-color: white;
    color: #333333;
}

/**
* Mobile section
*/
@media screen and (max-width: 420px) {
    header{
        height: auto;
        flex-direction: column;
    }

    ul, li, nav, a{
        display: block;
        width: 100%;
        text-align: center;
    }

    a{
        padding: 5px 0;
    }
}